.app-container {
  margin-top: 120px;
  width: fit-content;
  margin: 120px auto 0px;
}

button {
  padding: 1px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(118, 118, 118);
  border-width: 1px;
}

input {
  height: 18px;
  width: 170px;
}

.search-wrapper {
  display: flex;
}

label {
  margin-bottom: 4px;
  display: inline-block;
}

.toggle-icon-rotated {
  transform: rotate(180deg);
}

ul {
  width: 200px;
  height: 76px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  border: 1px solid rgb(118, 118, 118);
  overflow-x: hidden;
}